body {
  background-color: hsla(30, 8%, 5%, 1);
  margin-left: 0;
  margin-right: 0;
}
.BackToHome{
  background-color: hsla(30, 8%, 5%, 1);
margin: 0;
border: none;
}
.BackToHome a{
 color: #f0eeef;
 font-size: 50px;
}



.scroll-scale {
  opacity: 0;
  transform: scale(0.7);
  transition: all 1.5s;
}

.show-items {
  opacity: 1;
  transform: translateX(0);
}

.scroll-top {
  opacity: 0;
  transform: translateY(-300px);
  transition: 3s;
}


.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  background-color: rgba(237, 149, 77, 0.08);
  border-radius: 1.25em;
  transition: all 0.2s linear;
 }
 
 .tooltip:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
   8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
   17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
   36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
   99px 72px 143px rgba(0, 0, 0, 0.08);
 }
 
 .tooltip {
  position: relative;
  display: inline-block;
 }
 .tooltip img{
  height: 20px;
 }
 
 .tooltip .tooltiptext {
  visibility: hidden;
  width: 4em;
  background-color: rgb(219 173 94 / 10%);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
 }
 
 .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
 }
 
 .tooltip:hover .tooltiptext {
  visibility: visible;
 }



.fonttopP{
  margin: auto;
}
/* ///////   slider //////////////// */

main{
  width: 100%;
  height: 16rem;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 0px 3px grey;
  position: relative;
  overflow: hidden;
}
.slide{
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
}
.nav{
  text-align: center;
  margin-top: 15px;
}
.offerInfo button {
  font-size: 20px;
  background-color: hsl(37.92deg 63.45% 61.37%);
  color: white;
  width: 35px;
  height: 35px;
  opacity: 0.5;
  border: 1px solid #faa112;
  box-shadow: 0px 10px 10px 0px rgba(218, 145, 10, 0.966);
  border-radius: 20px;
  cursor: pointer;
}
.prev{
  animation: bounce_1 1s infinite;
}
.next{
  animation: bounce_2 1s infinite;
}

@keyframes bounce_1 {
  0%,
    100% {
    transform: translateY(-20%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bounce_2 {
  50%,
    100% {
    transform: translateY(-20%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}



/* //////////////////////////////////////////////// */

.recipe-info {
  padding: 10px;
}

.recipe-hero-img {
  height: 400px;
  width: 100%;

}

.recipe-info p {
  color: white
}

.recipe-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: center;
}

.recipe-info h2 {
  color: hsl(37.92deg 63.45% 61.37%);
  text-align: center;
}

.recipe-icons i {
  font-size: 1.5rem;

}

.recipe-icons h5,
.recipe-icons p {
  margin-bottom: 0;
  font-size: 0.9em;
  color: gray;
}

.recipe-icons h5 {
  font-style: italic;
}

.recipe-icons p {
  color: white;
}

.recipe-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-weight: 600;
}

.recipe-tags a {


  color: white;
  padding: 0.05rem 0.5rem;
  margin: 0 0.25rem;
  text-transform: capitalize;
}
@media screen and (min-width: 490px) {
 main{
  width: 490px;
  height: 16.5rem;
 }
}
@media screen and (min-width: 600px) {
  main{
   width: 650px;
   height: 18.5rem;
  }
  
 }
@media screen and (min-width: 992px) {
  .recipe-hero {
    grid-template-columns: 4fr 5fr;
    align-items: center;
  }
}

.recipe-content {
  padding: 3rem 0;
  display: grid;
  gap: 2rem 5rem;
}

@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
  }
}


.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #cb9a13;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}